/**
* webthemez
* custom styles
**/

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: #777;
    background: #fff;
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alegreya Sans', sans-serif;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin: 0 0 .8em;
}

h2 {
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 0 0 1.8em;
    color: #313131;
}

h3 {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #313131;
}

h4 {
    font-size: 1.25em;
    line-height: 1.4em;
}

h5 {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #66a038;
}

h6 {
    font-size: 1em;
    line-height: 1.2em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

p {
    padding: 0 0 1em;
    margin: 0;
}

a {
    color: #d92634;
    outline: 0;
    font-weight: bold;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

a:hover {
    text-decoration: none;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.highlight {
    color: #F33030;
}

.is-sticky .navbar-default {
    background: rgba(255, 255, 255, 1);
    padding: 15px 0;
    border-top: 1px solid #fff;
    width: 100%;
}

#menu-sticky-wrapper {
    z-index: 2;
    position: relative;
}

.banner {
    position: relative;
    /* top: -80px; */
    /* padding-top: 20px; */
    color: #fff;
    /* margin-top: -1px; */
    border-top: 1px solid #fff;
    background-image: url(../img/indexbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 630px;
    text-align: center;
}

.intro {
    vertical-align: middle;
}

.header h1 {
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
}

#menu {
    z-index: 999;
    width: 100% !important;
    right: 0;
    left: 0;
}

.navbar-default {
    background: transparent;
    padding: 15px 0;
    background: #fff;
    border: 0px;
}

.navbar-default .navbar-brand {
    padding: 7px;
}

.navbar-default .navbar-nav>li>a {
    color: #66a038;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #313131;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #66a038;
}

.btn-default {
    font-size: 14px;
    margin: 30px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 15px 35px;
    height: 44px;
    border: 2px solid #84cd48;
    background: transparent;
    transition: all 0.4s;
    color: #66a038;
    border-radius: 5px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    border: 2px solid #84cd48;
    background: #84cd48;
    color: white;
}

.btn-primary {
    font-size: 17px;
    margin: 30px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 15px 26px;
    height: 50px;
    border: 2px solid #fff;
    background: #fff;
    transition: all 0.4s;
    color: #66a038;
    border-radius: 100px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-secondary {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    padding: 20px 50px;
    height: 65px;
    border: none;
    background: #F33030;
    transition: all 0.4s;
    color: white;
    border-radius: 4px;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary {
    background: #1f96e0;
    color: white
}

.site-name img {
    width: 106px;
    height: 44px
}

.logo {
    margin: 80px 0 100px 0;
}

.logo img {
    width: 150px;
    height: 37px
}

.landing h1 {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
    margin: 160px 50px 20px 0;
}

.landing p {
    color: #fff;
}

.landing-text {
    margin-bottom: 20px;
}

.landing-text p {
    padding-bottom: 20px;
}

.more {
    margin-bottom: 100px;
}

.more p {
    font-size: 17px;
}

.head-btn {
    margin-bottom: 40px;
}

.option {
    text-transform: uppercase;
    padding: 5px;
    min-width: 80px;
    margin-right: 5px;
    transition: all 0.4s;
    font-size: 14px;
    color: #fff;
}

.option .fa {
    font-size: 16px;
    margin-right: 10px;
}

.option:hover {
    color: #F33030;
}

.header-phone {
    margin: 50px 0 100px;
}

#intro {
    padding: 100px 0;
}

.btn-section {
    padding-top: 20px;
}

.block {
    padding-top: 0;
    margin-top: 0;
}

.img-teamphoto {
    padding-top: 0;
    margin-top: 0;
}

.aboutUs {
    padding: 50px 0 0;
    background: #F5F5F5;
    /* color: #fff; */
}

img.img-center {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#feature .feature-title p {
    font-size: 18px;
}

#features {
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
}

.wow fadeInRight {
    margin: 50px;
    padding: 20px;
}

#features .fa {
    border: 1px solid #7c4396;
    width: 64px;
    height: 64px;
    color: #ffffff;
    text-align: center;
    padding: 21px;
    font-size: 22px;
    border-radius: 50%;
    background: #7c4396;
}

.btn-feature {
    padding-top: 20px;
    text-align: center;
}

.row-feat {
    padding-top: 50px;
}

.feat-list {
    margin-top: 40px;
}

.feat-list i {
    font-size: 48px;
    float: left;
    width: 20%;
    color: #d92534;
    height: 100%;
    position: relative;
    opacity: 0.6;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    top: 10px;
}

.feat-list:hover i {
    color: #7c4396;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

#feature .inner {
    float: left;
    display: inline-block;
    width: 80%;
}

.btn-feature {
    text-align: center;
}

.subscribe {
    color: #fff;
}

.letter {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    color: #FBD22C;
    border-radius: 5px;
    border: solid 1px #fbd22c;
    border-radius: 50%;
    font-size: 34px !important;
    padding-top: 30px;
}

.subscribe p {
    margin: 30px auto 30px;
}

.subscribe-form {
    max-width: 400px;
    margin: 50px auto 150px;
    text-align: center;
    overflow: hidden;
}

.subscribe-form form {
    position: relative;
}

.subscribe-form input {
    max-width: 85%;
    position: relative;
    padding: 5px 25px;
}

.subscribe-form .form-control {
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    font-size: 1.2em;
    height: 55px;
}

.subscribe-form button {
    border-radius: 0 4px 4px 0;
    background-color: #F33030;
    color: #ffffff;
    font-size: 1em;
    line-height: 52px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 30px;
    margin: 0;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.subscribe-form .btn {
    height: 55px;
}

.subscribe-form .btn:hover {
    background-color: #1f96e0;
    color: #fff;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.subscribe-form .form-control::-webkit-input-placeholder {
    color: #333;
}

.subscribe-form .form-control:-moz-placeholder {
    color: #333;
}

.subscribe-form .form-control::-moz-placeholder {
    color: #333;
}

.subscribe-form .form-control:-ms-input-placeholder {
    color: #333;
}

#screenshot {
    padding-top: 100px;
}

.title-line {
    width: 100px;
    height: 3px;
    margin: 0 auto;
    background: #F33030;
}

.screenshots {
    padding-top: 50px;
    padding-bottom: 100px;
}

.screenshots .screen {
    background: #FFFFFF;
    padding: 10px;
    margin: 13px;
    display: block;
}

.screenshots .screen img {
    width: 100%;
    border-radius: 4px;
    border: solid 3px #dadada;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.screenshots .screen img:hover {
    border: solid 3px #F33030;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.modal-backdrop.in {
    background-color: #000;
}

.ekko-lightbox .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
}

.ekko-lightbox .modal-header {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.ekko-lightbox .modal-header .close {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    text-shadow: 0;
    font-weight: 100;
    margin-top: 5px;
}

.ekko-lightbox .modal-header .close:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.ekko-lightbox .modal-header h4.modal-title {
    font-weight: 100;
    color: #fff;
    padding: 0;
}

.ekko-lightbox .modal-body {
    padding: 0;
}

.ekko-lightbox .modal-footer {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    border: 0;
    color: #fff;
    font-weight: 100;
    padding: 0;
}

.ekko-lightbox-nav-overlay a {
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    text-shadow: none;
}

#client img {
    max-height: 50px;
    margin: 0 20px;
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

#client img:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

#clients {
    padding: 100px 0 100px;
    background-color: #84ce48;
    color: #201b06;
}

.fa-quote-right {
    font-size: 60px;
    color: white;
}

.clients-item {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 30px;
}

.clients-item .box {
    margin-right: 15px;
    margin-left: 15px;
}

.clients-item .box .message {
    padding: 20px;
    font-style: italic;
    line-height: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}

.clients-item .client-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    max-width: 100%;
    border: 1px solid #E9E9E9;
}

.clients-item .client-info .client-name {
    margin-top: 10px;
    font-size: 16px;
}

.clients-item .client-info .company {
    font-style: italic;
    color: #fff;
}

.owl-theme .owl-controls .owl-page span {
    background: #fff;
}

.action {
    color: #fff;
}

.action h2 {
    font-size: 40px;
    font-weight: 300;
}

.download-store {
    padding: 50px 0 130px;
}

.download-store li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}

.appstorebutton {
    height: 65px;
    width: 195px;
    position: relative;
    border-radius: 4px;
}

.iphone {
    background: #F33030;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.iphone:hover {
    background-color: #1f96e0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.android {
    background: #555;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.android:hover {
    background-color: #444;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.appstorebutton a {
    color: white;
    text-decoration: none;
}

.appstorebutton p {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: white;
    padding: 10px 0 0 65px;
    line-height: 1;
}

.appstorebutton p small {
    font-size: 16px;
}

.appstorebutton i {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 17px;
    font-size: 40px;
}

.site-footer {
    background-color: #111;
    padding: 0;
}

.site-footer h2,
.site-footer p {
    color: #fff;
}

.site-footer p {
    opacity: .75;
    line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
    margin-bottom: 25px;
}

.site-footer .social-nav a {
    color: #fff;
    opacity: .25;
}

.site-footer .social-nav a:hover {
    opacity: 1;
}

.site-footer .bottom {
    background-color: #4f4f4f;
    padding: 20px 0;
}

.site-footer .bottom .list-inline,
.site-footer .bottom p {
    margin: 0;
}

.site-footer .bottom .list-inline {
    position: relative;
    top: 5px;
}

.site-footer .bottom .list-inline a {
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
    color: #fff;
}

.site-footer .credits {
    position: relative;
    margin-top: 15px;
    text-align: center;
    color: #ddd;
}

.site-footer .credits a {
    color: #84cd48;
}

.control-group .controls {
    overflow-x: hidden;
}

.downloadSection {
    padding: 100px 0;
    background: #d92634;
}

.subscribe {
    color: #fff;
    background: #d92634 !important;
}

.subscribe p {
    margin: 30px auto 30px;
}

.subscribe-form {
    max-width: 400px;
    margin: 50px auto 150px;
    text-align: center;
    overflow: hidden;
}

.subscribe-form form {
    position: relative;
}

.subscribe-form input {
    max-width: 85%;
    position: relative;
    padding: 5px 25px;
}

.subscribe-form .form-control {
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    font-size: 1.2em;
    height: 55px;
}

.subscribe-form button {
    border-radius: 0 4px 4px 0;
    background-color: #FBD22C;
    color: #040F13;
    font-size: 1em;
    line-height: 52px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 30px;
    margin: 0;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.subscribe-form .btn {
    height: 55px;
}

.subscribe-form .btn:hover {
    background-color: #1f96e0;
    color: #fff;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.subscribe-form .form-control::-webkit-input-placeholder {
    color: #333;
}

.subscribe-form .form-control:-moz-placeholder {
    color: #333;
}

.subscribe-form .form-control::-moz-placeholder {
    color: #333;
}

.subscribe-form .form-control:-ms-input-placeholder {
    color: #333;
}

#package {
    padding: 70px 0 70px;
}

.title-line {
    width: 60px;
    height: 4px;
    margin: 0 auto;
    background: #84cd48;
}

.package-option {
    text-align: center;
    vertical-align: middle;
    padding: 50px;
}

.md-margin-bottom-40 {
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.img-responsive {
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.img-responsive-indexP {
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.navbar-default .navbar-toggle {
    border-color: #66a038 !important;
    background: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #66a038 !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none !important;
}

.navbar-collapse {
    /* background: #d92634 !important; */
}

.footer-txt {
    text-align: left;
}


/* smart-phone ----------- */

@media (max-width: 767px) {
    .navbar-collapse {
        background: #fff !important;
    }
    .logo {
        margin: 40px 0 30px 0;
    }
    .more {
        margin-bottom: 40px;
    }
    #intro {
        padding: 70px 0 70px;
    }
    #intro h2,
    #intro-co h2,
    #features h2,
    #ideas h2 {
        font-weight: 150;
        text-align: center;
        color: #313131;
    }
    #intro-co p,
    #features p {
        text-align: center;
    }
    #intro-co {
        padding: 70px 0 70px;
    }
    #intro-co h2,
    #features h2 {
        font-weight: 150;
        text-align: center;
        color: #313131;
    }
    #intro-co p,
    #features p {
        text-align: center;
    }
    .btn-section {
        text-align: center;
    }
    .btn-feature {
        text-align: center;
    }
    .btn-feature-store {
        text-align: center;
    }
    .feat-list i {
        padding-left: 40px;
    }
    #client img {
        margin: 10px 0 10px;
    }
    .ubutia-card {
        margin-bottom: 60px;
    }
    #contact {
        padding: 150px 0;
    }
    .footer-txt {
        text-align: center;
        padding-bottom: 20px;
    }
    .product-content {
        text-align: center;
    }
    .row-store {
        text-align: center;
        vertical-align: middle;
    }
}

.idea-h5 {
    color: #313131;
    padding-top: 60px;
    padding-bottom: 30px;
}


/* iPhone 6 (landscape) ----------- */

@media (max-width: 667px) {
    .logo {
        margin: 30px 0 30px 0;
    }
    .landing h1 {
        font-size: 40px;
        margin: 10px 0 25px 0;
    }
    .landing-text {
        margin-top: 20px;
    }
    .letter {
        margin-top: 75px
    }
    .subscribe p {
        margin: 25px auto 15px;
    }
    .subscribe-form {
        margin: 20px auto 100px;
    }
    .action h2 {
        margin-top: 70px;
    }
    .download-store {
        padding: 20px 0 100px;
    }
}


/* iPhone 5 (landscape) ----------- */

@media (max-width: 568px) {
    .logo {
        margin: 15px 0 15px 0;
    }
    .landing h1 {
        font-size: 30px;
        margin: 200px 0 10px 0;
    }
    #intro {
        padding-top: 50px;
    }
    #feature {
        padding-top: 50px;
    }
    .feat-list i {
        padding-left: 20px;
    }
    #screenshot {
        padding-top: 70px;
    }
    .screenshots {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    #clients {
        padding: 70px 0 70px;
    }
    .clients-item .box .message {
        line-height: 25px;
        font-size: 18px;
    }
    .action h2 {
        margin: 50px 0 20px;
    }
    .download-text p {
        line-height: 1.5;
    }
    .download-store {
        padding: 10px 0 70px;
    }
}


/* brands CSS */

.banner-brands {
    position: relative;
    /* top: -80px; */
    /* padding-top: 20px; */
    color: #fff;
    /* margin-top: -1px; */
    border-top: 1px solid #fff;
    background-image: url(../img/brands-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    text-align: center;
    width: 100%;
}

#content {
    position: relative;
    background: #fff;
    padding: 50px 0 70px 0;
}

.feature-2-pic {
    text-align: center;
    padding: 20px;
}

.skill-home {
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.c1 {
    border: #ed5441 1px solid;
    background: #ed5441;
}

.c2 {
    border: #24c4db 1px solid;
    background: #24c4db;
}

.c3 {
    border: #1891EC 1px solid;
    background: #1891EC;
}

.c4 {
    border: #609cec 1px solid;
    background: #609cec;
}

.skill-home .icons {
    padding: 40px;
    width: 94px;
    height: 94px;
    color: #fff;
    font-size: 42px;
    font-size: 38px;
    text-align: center;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0;
    display: inline-table;
    border: 4px solid #84cd48;
    color: #fff;
    background: transparent;
    border-radius: 50%;
    background: #84cd48;
}

.skill-home h2 {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 700;
}


/* brands hergeia */

#content-her {
    position: relative;
    background: #f8f8f8;
    padding: 50px 0 70px 0;
}

.feature-2-pic-her {
    text-align: center;
}

.skill-home-her {
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.c1-her {
    border: #ed5441 1px solid;
    background: #ed5441;
}

.c2-her {
    border: #24c4db 1px solid;
    background: #24c4db;
}

.c3-her {
    border: #1891EC 1px solid;
    background: #1891EC;
}

.skill-home-her .icons {
    padding: 40px;
    width: 94px;
    height: 94px;
    color: #fff;
    font-size: 42px;
    font-size: 38px;
    text-align: center;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0;
    display: inline-table;
    border: 4px solid #e83076;
    color: #fff;
    background: transparent;
    border-radius: 50%;
    background: #e83076;
}

.skill-home-her h2 {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 700;
}

.her-h5 {
    color: #e83076;
}

.btn-default-her {
    font-size: 14px;
    margin: 30px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 15px 35px;
    height: 44px;
    border: 2px solid #e83076;
    background: transparent;
    transition: all 0.4s;
    color: #e51b67;
    border-radius: 5px;
}

.btn-default-her:hover,
.btn-default-her:focus,
.btn-default-her:active,
.btn-default-her.active,
.open>.dropdown-toggle.btn-default-her {
    border: 2px solid #e83076;
    background: #e83076;
    color: white;
}


/* brands 賀先生 */

#content-man {
    position: relative;
    background: #fff;
    padding: 50px 0 70px 0;
}

.feature-2-pic-man {
    text-align: center;
}

.man-h5 {
    color: #17589f;
}

#content-man .btn-feature {
    margin: 0px auto;
    vertical-align: middle;
    width: 150px;
}

#content-man .btn-default-man {
    vertical-align: middle;
    font-size: 14px;
    margin: 30px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 15px;
    height: 53px;
    border: 2px solid #b4b4b4;
    color: #989898;
    border-radius: 5px;
}


/* brands 往商城 */

#content-link {
    position: relative;
    background: #f8f8f8;
    padding: 50px 0 70px 0;
}

.feature-2-pic-link {
    text-align: center;
}

.btn-default-link {
    text-align: center;
    font-size: 14px;
    margin: 30px 0 10px;
    margin-right: 10px;
    line-height: 20px;
    padding: 15px 35px;
    height: 53px;
    width: 130px;
    border: 2px solid #b4b4b4;
    color: #b4b4b4;
    border-radius: 5px;
}


/* idea */

.banner-idea {
    position: relative;
    /* top: -80px; */
    /* padding-top: 20px; */
    color: #fff;
    /* margin-top: -1px; */
    border-top: 1px solid #fff;
    background-image: url(../img/idea-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    text-align: center;
    width: 100%;
}


/* idea's CSS */

#ideas {
    background-color: #fff;
    padding: 0;
    margin: 0;
}


/* idea 提供服務 */

.section {
    text-align: center;
    padding: 100px 0;
}


/*idea ubutia Card*/

.ubutia-card {
    text-align: center;
    /*margin-bottom: 45px;*/
}

.ubutia-card .ubutia-card-header {
    margin-bottom: 45px;
}

.ubutia-card .ubutia-card-header .card-icon {
    border-radius: 100%;
    display: inline-block;
    height: 120px;
    width: 180px;
    line-height: 120px;
    position: relative;
}

.contact .ubutia-card {
    background-color: #f8f8f8;
    padding: 35px 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 45px;
}


/*.contact .ubutia-card:hover{
	box-shadow: 0px 4px 2px rgba(17, 17, 17, 0.3);
}*/

.contact .ubutia-card .ubutia-card-header {
    margin-bottom: 15px;
    font-size: 21px;
    color: #51c2b9;
}

.contact .ubutia-card .ubutia-card-content h3 {
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.contact .ubutia-card .ubutia-card-content h3:after {
    top: 40px;
}

.contact .ubutia-card .ubutia-card-content p {
    font-size: 18px;
}

.ubutia-card .ubutia-card-header .card-icon:after {
    transition: all 0.3s ease-in-out;
}

.ubutia-card:hover .ubutia-card-header .card-icon:after {
    height: 120px;
    width: 120px;
    top: -1px;
    left: -1px;
}


/* idea 註解一 */

#clients-idea {
    padding: 100px 0 100px;
    background-color: #84ce48;
    color: #201b06;
}


/* idea 提供服務 */

.skill-service {
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.skill-service .icons {
    padding: 40px;
    width: 94px;
    height: 94px;
    color: #fff;
    font-size: 42px;
    font-size: 38px;
    text-align: center;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0;
    display: inline-table;
    border: 4px solid #84cd48;
    color: #fff;
    background: transparent;
    border-radius: 50%;
    background: #fff;
}

.services-txt {
    font-size: 20px;
    color: #313131;
}


/* idea 註解二 */

#clients-idea2 {
    padding: 100px 0 100px;
    background-color: #f8f8f8;
    color: #66a038;
}

.clients-item-ides2 {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 30px;
}

.clients-item-ides2 .box2 {
    margin-right: 15px;
    margin-left: 15px;
}

.clients-item-ides2 .box2 .message {
    padding: 20px;
    font-style: italic;
    line-height: 30px;
    font-weight: 300;
    font-size: 20px;
    color: #66a038;
}

.clients-item .client-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    max-width: 100%;
    border: 1px solid #66a038;
}


/* idea 創新services */

.service-section {
    padding-top: 100px;
}

.services {
    margin: 0 auto;
    margin-bottom: 50px;
}

.services-content {
    padding: 0 15px;
    margin-top: 30px;
}

.card-icon h5 {
    text-align: center;
    width: 180px;
    color: #313131;
}

.services .icon {
    vertical-align: middle;
    margin: 0 auto;
    color: #313131;
    font-size: 36px;
}

.leaf {
    background: transparent url(../img/idea-leaf2.png) no-repeat;
    vertical-align: middle;
    margin: 0 auto;
    width: 45px;
    height: 80px;
    display: block;
}

.medical {
    background: transparent url(../img/idea-medical.png) no-repeat;
    vertical-align: middle;
    margin: 0 auto;
    width: 45px;
    height: 80px;
    display: block;
}

.eye {
    background: transparent url(../img/idea-eye.png) no-repeat;
    vertical-align: middle;
    margin: 0 auto;
    width: 45px;
    height: 80px;
    display: block;
}

.good {
    background: transparent url(../img/idea-prize.png) no-repeat;
    vertical-align: middle;
    margin: 0 auto;
    width: 45px;
    height: 80px;
    display: block;
}

.phone {
    background: transparent url(../img/idea-phone.png) no-repeat;
    vertical-align: middle;
    margin: 0 auto;
    width: 45px;
    height: 80px;
    display: block;
}

.doctor {
    background: transparent url(../img/idea-doctor.png) no-repeat;
    vertical-align: middle;
    margin: 0 auto;
    width: 45px;
    height: 80px;
    display: block;
}


/* idea 往商城或團隊 */

#content-link-idea {
    position: relative;
    background: #f8f8f8;
    padding: 30px 0 70px 0;
}

.idea-h5 {
    color: #313131;
    padding-top: 50px;
    padding-bottom: 30px;
}

#content-link-idea row {
    padding-bottom: 80px;
}


/* store */

.banner-store {
    position: relative;
    /* top: -80px; */
    /* padding-top: 20px; */
    color: #fff;
    /* margin-top: -1px; */
    border-top: 1px solid #fff;
    background-image: url(../img/store-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    text-align: center;
    width: 100%;
}


/* store 註解 */

#clients-store {
    padding: 100px 0 100px;
    background-color: #84ce48;
    color: #201b06;
}


/* Store lists */

section.section-padding.gray-bg {
    background: #fff;
    padding: 70px 0 70px 0;
    color: #484848;
}

.div-inline {
    display: inline;
}

.store-product {
    color: #313131;
}

.store-price {
    color: #66a038;
    font-size: 24px;
}

.row-store {
    padding-left: 15px;
}


/* store btn */

.btn-feature-store {
    padding-top: 20px;
    text-align: center;
}

.btn-default-store {
    font-size: 14px;
    margin: 20px 0 10px;
    margin-right: 10px;
    line-height: 10px;
    padding: 15px 15px;
    height: 44px;
    border: 2px solid #84cd48;
    background: transparent;
    transition: all 0.4s;
    color: #66a038;
    border-radius: 5px;
}

.btn-default-store:hover,
.btn-default-store:focus,
.btn-default-store:active,
.btn-default-store.active,
.open>.dropdown-toggle.btn-default-store {
    border: 2px solid #84cd48;
    background: #84cd48;
    color: white;
}


/* team CSS */

.banner-team {
    position: relative;
    /* top: -80px; */
    /* padding-top: 20px; */
    color: #fff;
    /* margin-top: -1px; */
    border-top: 1px solid #fff;
    background-image: url(../img/team-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;
    text-align: center;
    width: 100%;
}


/* team顧問 */

#product {
    position: relative;
    background: #fff;
    padding: 50px 0 70px 0;
    margin: 0;
}

.container-comment {
    vertical-align: middle;
    text-align: center;
}

.text-uppercase {
    font-size: 20px;
    color: #313131;
    padding-top: 30px;
    padding-bottom: 50px;
}

.comment {
    color: #313131;
    padding-top: 40px;
}

.main_product .carousel-control {
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    text-align: center;
    top: 30%;
}

.port_item {
    vertical-align: middle;
    text-align: center;
}

.main_product .carousel-control:hover {
    background-color: #00a885;
    color: #fff;
}

.main_product .carousel-control.left {
    left: -1.4%;
    opacity: 0;
}

.main_product .carousel-control.right {
    right: -1.4%;
    box-shadow: 1px 0px 0px 0px;
    opacity: 0;
}

.main_product .port_img {
    position: relative;
    overflow: hidden;
}

.main_product .port_img img {
    width: 100%;
    height: 152px;
    width: 152px;
}

.main_product .port_overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 168, 133, 0.60);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 35%;
    opacity: 0;
    transition: all 0.2s;
}

.main_product .port_overlay a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    bottom: -150px;
    position: relative;
}

.main_product .port_img:hover .port_overlay a {
    bottom: 0;
}

.main_product .port_img:hover .port_overlay {
    opacity: 1;
}


/* team成員 */

#team {
    position: relative;
    background: #f8f8f8;
    padding: 50px 0 70px 0;
    margin: 0;
}

.team-member {
    margin-bottom: 30px;
    text-align: center;
}

.team-member img {
    width: 200px;
    height: 200px;
}

.teamMember-heading {
    font-size: 20px;
    color: #313131;
    padding-bottom: 40px;
    padding-top: 20px;
}

.team-member p {
    margin-top: 0;
}

.team-member-title {
    color: #313131;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-muted {
    color: #666;
    padding-bottom: 10px;
}


/* 電話地址 */

#intro-co {
    vertical-align: middle;
    padding: 100px 0;
}

.team-txt {
    font-size: 20px;
    color: #313131;
    padding-bottom: 50px;
}

.img-responsive-team {
    position: static;
    position: relative;
    vertical-align: middle;
}


/* google map */

#googleMap {
    position: relative;
    width: 100%;
    height: 385px;
    background: #fff;
    padding: 0;
}


/* contact */

#contact {
    position: relative;
    background: #fff;
    padding: 50px 0 70px 0;
    margin: 0;
}

section#contact {
    background-image: url("../img/team-contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section#contact .section-heading {
    color: white;
}

section#contact .form-group {
    margin-bottom: 15px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 15px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 230px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #b2b2b2;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact :-moz-placeholder {
    font-weight: 700;
    color: #b2b2b2;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #b2b2b2;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #b2b2b2;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact .text-danger {
    color: #e74c3c;
}

.text-muted {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 50px;
}

.form-control {
    color: #313131;
}

.text-center-send,
row-send {
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

.btn-default-contact {
    font-size: 14px;
    margin: 30px 0;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    padding: 15px 35px;
    height: 53px;
    border: 2px solid #fff;
    background: transparent;
    transition: all 0.4s;
    color: #fff;
    border-radius: 5px;
}

.btn-default-contact:hover,
.btn-default-contact:focus,
.btn-default-contact:active,
.btn-default-contact.active,
.open>.dropdown-toggle.btn-default-contact {
    border: 2px solid #84cd48;
    background: #84cd48;
    color: #fff;
}
